html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
    line-height: revert;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
    height: auto;
    max-width: 100%;
}

audio {
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
    text-align: left;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-background-color);
}

#root {
    height: 100%;
    width: 100%;
    font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: .875rem;
    letter-spacing: .25px;
    color: var(--primary-font-color);
    /*左侧菜单宽度*/
    --left-menu-width: 400px;
    /*右侧区域高度*/
    --right-template-height: 100vh;
    /*左侧菜单头部高度*/
    --left-menu-header-height: 90px;
    /*左侧菜单头部项目高度*/
    --left-menu-header-project-height: 60px;
    /*左侧菜单头部项目宽度*/
    --left-menu-header-project-width: 60px;
    /*左侧菜单头部项目字体大小*/
    --left-menu-header-project-font-size: 20px;
    /*左侧菜单头像大小*/
    --left-menu-avatar-height: 3rem;
    --left-menu-avatar-width: 3rem;
    /*右侧菜单头部高度*/
    --right-template-header-height: 90px;
    /*底部版权高度*/
    --footer-height: 50px;
    /*页面字体样式*/
    --page-title-font-size: 25px;
    --page-title-font-weight: 500;
    /*左侧菜单数字颜色*/
    --left-menu-number-size: 28px;
}

/*******************配置组件自定义颜色(入口css)******************/
/*默认主题色(活力)*/
.default-theme,.vitality-theme{
    /*主色调*/
    --primary-color: #ff470d;
    /*主色调（按钮被选中）*/
    --primary-front-active-color:#f67753;
    /*主背景色*/
    --primary-background-color: #f5f4fe;
    /*主字体色*/
    --primary-font-color: #3c4043;
    /*被选中的背景色*/
    --primary-background--active-color: rgba(255,110,64,.15);
    /*滚动条颜色*/
    --scrollbar-thumb-box-shadow: 8px 0 0 var(--primary-background--active-color) inset;
    /*第二字体颜色*/
    --second-fontcolor: #212529;
    /*左侧菜单数字颜色*/
    --left-menu-number-font-color: #fff;
    /*左侧菜单数字背景颜色*/
    --left-menu-number-background-color: #05b171;
    /*卡片边框样式*/
    --card-border: 1px solid rgba(0,0,0,.125);
}

/*按钮的样式重写*/
.ant-btn-primary{
    color: #fff !important;
    background: var(--primary-color) !important;
}
.ant-btn-default{
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    background: #ffffff;
}
.ant-btn-primary:hover {
    color: #fff !important;
    background: var(--primary-front-active-color) !important;
}
/*文本框样式的重写*/
.ant-input-outlined:hover,.ant-input-outlined:focus,
.ant-select-outlined:hover,.ant-select-outlined:focus,
.ant-picker-outlined:hover {
    border-color: var(--primary-front-active-color) !important;
    box-shadow: none !important;
    background-color: #ffffff !important;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:hover {
    border-color: var(--primary-front-active-color) !important;
    box-shadow: none !important;
    outline: 0;
}

/*分页样式*/
.ant-pagination .ant-pagination-item-active {
    border-color: var(--primary-background--active-color) !important;
}
.ant-pagination .ant-pagination-item-active a{
    color: var(--primary-front-active-color) !important;
}


/*日期选择框*/
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
    color: #fff !important;
    background: var(--primary-front-active-color) !important;
}

/*下拉框*/



/*步骤条的样式重写*/
.ant-steps .ant-steps-item-process .ant-steps-item-icon {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

/*进度条*/
#nprogress .bar{
    background: var(--primary-color) !important;
}

#nprogress .spinner-icon{
    border-top-color: var(--primary-color) !important;
    border-left-color: var(--primary-color) !important;
}

    /**分页样式**/
.ant-pagination{
    width: 100%;
}

.tool-bar,.data-table {
    padding-top: 0.5em;
}

.data-table{
    margin-top: 1em;
}
/*.data-table .ant-table{*/
/*    background-color: rgba(255, 255, 255, 0.2) !important;*/
/*}*/

/*!*修改表头文字、背景颜色*!*/
/*.data-table .ant-table-thead > tr > th,*/
/*.data-table .ant-table-thead > tr{*/
/*      background-color:unsetTransform !important;*/
/*      border-right: 1px solid var(--primary-font-color);*/
/*      border-bottom: 1px solid var(--primary-font-color);*/
/*      border-top: 1px solid var(--primary-font-color);*/
/*  }*/

/*.data-table .ant-table-thead > tr > th:first-child{*/
/*    border-left: 1px solid var(--primary-font-color);*/
/*}*/

/*!*修改列表背景颜色*!*/
/*.data-table   .ant-table-tbody > tr > td{*/
/*  border-right: 1px solid var(--primary-font-color);*/
/*  border-bottom: 1px solid var(--primary-font-color);*/
/*}*/

/*.data-table .ant-table-tbody > tr > td:first-child{*/
/*    border-left: 1px solid var(--primary-font-color);*/
/*}*/

